# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs/basic_game_LOVE_CMAKE_SMILE
/.vs
/build2/CMakeFiles
/build2/vcpkg_installed/vcpkg
/build2/vcpkg_installed/x64-windows
/build2
/out/build/x64-debug
/vcpkg_installed
/out/build/x64-release
